---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';

const res = await fetch("https://services.isrostats.in/api/launches");
const json = await res.json();

const lst = json.slice(0, 10);
---

<Layout title="Welcome to Astro.">
	<main class="m-auto p-[1rem] w-[850px] max-w-[calc(100%-2rem)] text-[20px] leading-[1.6] text-white">
		<h1 class="text-[4rem] font-bold leading-none text-center mb-[1em]">Welcome to
			<span class="bg-[image:--accent-gradient] bg-clip-text bg-[length:400%] bg-left-top text-[transparent]">ISRO Stats</span>
		</h1>
		<ul role="list" class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-[2rem] p-0">
			{lst.map((item: { Name: string, Payload: string, LaunchDate: string, LaunchType: string, Link: string, MissionStatus: string }) => (
				<Card name={item.Name} payload={item.Payload} launchDate={new Date(item.LaunchDate)} launchVehicle={item.LaunchType} link={item.Link} status={item.MissionStatus} />
			))}
		</ul>
	</main>
</Layout>
