---
interface Props {
	name: string;
	payload: string;
	launchDate: Date;
	launchVehicle: string;
	link: string;
	status: string;
}

const { link, name, payload, status, launchDate, launchVehicle } = Astro.props;

const day = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"][launchDate.getDay()];
const date = launchDate.getDate();
const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][launchDate.getMonth() % 12];
const year = launchDate.getFullYear();

const dateStr = `${day}, ${date} ${month} ${year}`;
---

<li class="group list-none flex p-[1px] bg-[#23262d] bg-[image:none] bg-[length:400%] rounded-[7px] bg-[100%]
hover:bg-[0] hover:bg-[image:--accent-gradient]
transition-background-position duration-[0.6s] ease-[cubic-bezier(0.22,1,0.36,1)] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)]">
	<a href={link} target="_blank" class="w-full no-underline leading-[1.4] p-[calc(1.5rem-1px)] rounded-[8px] text-white bg-[#23262d] opacity-80">
		<h2 class="margin-0 text-[1.5rem] transition-color duration-[0.6s] ease-[cubic-bezier(0.22, 1, 0.36, 1)] group-hover:text-light">
			{name}
		</h2>
		<p class="mt-[.5rem] mb-0 text-[1rem]">
			<span class="!text-[1.25rem]">Payload: {payload}</span><br />
			Status: {status}<br />
			Launched by: {launchVehicle}<br />
			On: {dateStr}<br /><br />
			<bold class="text-light !text-[1.5rem]">Click to read more &rarr;</bold>
		</p>
	</a>
</li>
